* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: 'Merriweather Sans', sans-serif;
}

.calendar-grid {
  display: flex;
  flex-wrap: wrap;
}

.date-box {
  margin: 3px;
  /* border-top: 1px solid #000;
  border-right: 1px solid #000; */
  /* border: 1px solid #ccc; */
  /* background: linear-gradient( #eaeaea, #f8f8f7); */
  background: #f8f8f7;
  min-height: calc(20vh);
  width: calc(100% / 7 - 6px);
  padding: 10px;
  color: #556;
  line-height: 1.5;
}

.date-box.operational {
  cursor: pointer;
  transition: all .28s;
  transition-delay: 200ms;
}

@keyframes pulse-bg {
  from {background-color: #eee;}
  to {background-color: #ddd;}
}

@keyframes pulse-bg-red {
  from {background-color: #eed0d0;}
  to {background-color: #f0abab;}
}

.date-box.operational:hover {
  background: #eee;
  transition-delay: 0ms;
}

.date-box.selected {
  /* box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.11); */
  background: #eee;
  animation-name: pulse-bg;
  animation-duration: .55s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.date-box:nth-child(7n).selected, .date-box.holiday.selected {
  background: #eed0d0;
  animation-name: pulse-bg-red;
}


.floating-window.visible {}

.floating-window h2 {
  text-align: center;
  margin: none;
}

.floating-window h2:after {
  content: "";
  display: block;
  width: 20%;
  margin: 15px auto;
  height: 2px;
  background: #551313;  
}

.date-box:nth-child(7n), .date-box.holiday {
  /* background: linear-gradient( #eed0d0, #fafaed); */
  background: #eed0d0;
  color: rgb(177, 0, 0);
}

.date-box:nth-child(7n):hover, .date-box.holiday:hover {
  background: #f0abab;
}

.note-indicator {
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.5;
}

/*
.date-box:nth-child(7n+1) {
  border-left: 1px solid #000;
}

.date-box:first-child {
  border-left: 1px solid #000;
} */

.date-box.today {
  border: 1px solid #b51a1a;
}

.date-box.dummy {
  background: transparent;
}

.wrapper {
  display: flex;
  position: relative;
}

.side-pane {
  min-width: 80px;
  width: 5%;
  background: #551313;
}

.side-pane > div {
  position: fixed;
}

.main-pane {
  padding: 10px;
}

.month-link {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}

.month-link:hover, .month-link.current {
  background: #a10b0b;
}

/* TODO animate dis. */
.floating-window {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  padding: 10px;
  width: 25%;
  min-height: 35vh;
  display: none;
  box-shadow: 0px 10px 25px -18px #000;
  /* margin-left: 20px; */
}

/* .floating-window::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 20px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:20px solid #fff5e5; 
} */

@keyframes flash-bg {
  from {background-color: #fff;}
  to {background-color: #dfdfdf;}
}

.floating-window.visible {
  animation-name: pulse-bg;
  animation-duration: .2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  display: block;
  transition: all .3s;
  
}

.img-wrapper {
  top: 10px;
  left: 10px;
}

.img-wrapper img {
  max-width: 60px;
  margin: 0 auto;
  display: block;
}

.month-selector {
  top: 80px;
  left: 10px;
}

.note-box {
  padding: 5px;
}

input, textarea {
  font-size: 0.8rem;
}

input[type=text] {
  min-height: 25px;

}

.save-button {
  margin-top: 5px;
  margin-left: 10px;
  min-height: 30px;
  background: #fff;
  border: 1px solid #ddd;
  color: #555;
  transition: all .5s;
  cursor: pointer;
}

.save-button:hover {
  background: #ddd;
}

.ib {
  display: inline-block;
}

.input-shortcut {
  display: inline-block;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  padding: 5px;

}

.input-text {
  display: block;
  width: 100%;
  resize: none;
  min-height: 80px;
  border: 1px solid #ddd;
  padding: 5px;
}

.input-shortcut-label {
  color: #ddd;
}

.input-text-label {
  color: #aaa;
}

.nothing-here {
  color: #777;
  text-align: center;
  font-size: 0.8rem;
}

.shortcut-and-colors {
  display: flex;
}

.shortcut-and-colors button {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  flex-grow: 1;
  border: none;
  cursor: pointer;
  border-radius: 10%;
  transition: all .4s;
  outline: 0;
}

.shortcut-and-colors button:hover {
  border-radius: 50%;
}



.form-cnt {
  font-size: 0.8rem;
  color: #444;
}

/* input[type="button"], button[type="button"]{
  outline:none;
}
button[type="button"]::-moz-focus-inner {
  border: 0;
} */


.text-right {
  text-align: right;
}

.preview-text {
  display: inline-block;
  margin-right: 6px;
}

.icon-manip, .icon-manip:after {
  width: 22px;
  height: 22px;
}

.icon-manip {
  display: inline-block;
  position: relative;

  background-size: contain;
  z-index: 1;
  cursor: pointer;
  transform: translateY(0px);
  transition: all .5s;
}

.icon-manip:hover {
  transform: translateY(-5px);
}

/* .icon-manip:after {
  content: '';
  display: block;
  position: absolute;
  background-size: contain;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity .6s;
  opacity: 1;
  cursor: pointer;
} */

.icon-manip:hover .icon-manip:after {
  opacity: 0;
}

.icon-delete {
  background-image: url(delete_hov.png);
}

.icon-delete:after {
  background-image: url(delete.png);
}

.icon-edit {
  background-image: url(edit_hov.png);
}

.icon-edit:after {
  background-image: url(edit.png);
}

.a-text-edit, .a-text-del {
  font-size: 0.8rem;
  color: #666;
  margin-left: 15px;
  transition: all .5s;
  cursor: pointer;
}

.a-text-edit:hover, .a-text-del:hover {
  color: #222;
}

.note-content {
  font-size: 0.8rem;
  color: #555;
  margin-bottom: 20px;
}

.new-note {
  margin-bottom: 15px;
}

.new-note-link {
  color: #666;
  font-size: 0.8rem;
  cursor: pointer;
}

.new-note-link:after {
  content: ' (kliknij tutaj)';
  display: inline;
  opacity: 0;
  transition: opacity .5s;

}

.new-note-link:hover {
  color: #222;
}

.new-note-link:hover:after {
  opacity: 1;
}